<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">展开菜单</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'postsList'}}">不知名应用</a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li>
                            <a href="{{pathFor 'postSubmit'}}">水帖</a>
                        </li>
                        <li class="dropdown">
                            {{> notifications}}
                        </li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons }}
                </ul>
            </div>
        </div>
    </nav>
</template>